<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Online Resume - Adrian Kevin Viola</title>
    <link rel="icon" type="image/x-icon" href="image/favicon.ico" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
      rel="stylesheet"
      type="text/css"
    />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
      id="sideNav"
    >
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">ADRIAN KEVIN</span>
        <span class="d-none d-lg-block"
          ><img
            class="img-fluid img-profile rounded-circle mx-auto mb-2"
            src="image/profile.jpg"
            alt="..."
        /></span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience"
              >Experience</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education"
              >Education</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests"
              >Interests</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
      <!-- About-->
      <section class="resume-section" id="about">
        <div class="resume-section-content">
          <h1 class="mb-0">
            ADRIAN KEVIN
            <span class="text-primary">VIOLA</span>
          </h1>
          <div class="subheading mb-5">
            +63 999 102 1312 · Quezon City, Metro Manila, Philippines ·
            <a href="mailto:adrianviola21@gmail.com">adrianviola21@gmail.com</a>
          </div>
          <p class="lead mb-5">
            As an aspiring and dedicated Software Engineer based in the Philippines, I am currently at a beginner to intermediate level in Java development, 
            with a focus on Spring Boot and the Spring Framework. I am on a journey to enhance my skills and become the best Java Spring Boot developer I can be. 
            Despite being in the early stages of my career, I bring a strong commitment to learning and a passion for building robust and scalable solutions. 
            I thrive on collaboration, and my goal is to contribute positively to diverse industries by delivering high-quality software solutions. 
            I am enthusiastic about staying updated on emerging technologies to further enrich my capabilities in software development. 
            I built this website to showcase my experience and skills in the IT industry, providing a platform to highlight my projects and share my journey as I progress in my career.
          </p>
          <div class="social-icons">
            <a
              class="social-icon"
              href="https://www.linkedin.com/in/adrian-kevin-viola-6832b715a/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a
              class="social-icon"
              href="https://github.com/kebeanz011/kebeanz011/tree/main"
              ><i class="fab fa-github"></i
            ></a>
            <a
              class="social-icon"
              href="https://www.instagram.com/adriankeviinnnnn/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a
              class="social-icon"
              href="https://www.facebook.com/adriankevin.viola/"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </div>
        </div>
      </section>
      <hr class="m-0" />
      <!-- Experience-->
      <section class="resume-section" id="experience">
        <div class="resume-section-content">
          <h2 class="mb-5">Professional Experience</h2>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">Associate Software Engineer</h3>
              <div class="subheading mb-3">Accenture, Inc.</div>
              <ul>
                <li>
                  Designed and developed customized solutions: Utilized Java,
                  JavaScript, SQL, and PL/SQL for the Oracle CC&B system to meet
                  business requirements, enhancing overall system functionality
                  and efficiency.
                </li>
                <li>
                  Performed comprehensive testing: Conducted unit testing,
                  integration testing, and user acceptance testing to ensure the
                  seamless performance of configured/customized solutions in
                  alignment with specified requirements.
                </li>
                <li>
                  Identified and resolved 100+ bugs: Successfully addressed and
                  fixed software issues within the system. Provided solutions,
                  designed necessary modifications, and conducted thorough
                  triage processes. Additionally, performed rigorous unit
                  testing to ensure the effectiveness of bug resolutions.
                </li>
                <li>
                  Ensured continuous stability and optimal performance of the
                  Oracle CC&B system: Proactively identified and addressed
                  issues, implementing necessary fixes and enhancements.
                </li>
                <li>
                  Configured Oracle CC&B system settings: Emphasized inbound and
                  outbound messaging, customer information, and sales/marketing
                  functionalities to align with business needs and objectives.
                </li>
                <li>
                  Developed and maintained comprehensive documentation: Created
                  detailed records for system configurations, customizations,
                  and integration points. Ensured a thorough understanding of
                  the system's architecture and facilitated knowledge transfer
                  within the team.
                </li>
              </ul>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">April 2022 - Present</span>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">Procurement Engineer - Senior Buyer</h3>
              <div class="subheading mb-3">
                A1+ Multinational Packaging, Inc.
              </div>
              <ul>
                <li>
                  Lead the procurement team in sourcing, negotiating, and
                  contracting for goods and services.
                </li>
                <li>
                  Develop and implement strategic sourcing initiatives to
                  achieve cost savings and improve supplier performance.
                </li>
                <li>
                  Negotiate favorable terms and conditions with suppliers to
                  reduce procurement costs.
                </li>
                <li>
                  Collaborate with cross-functional teams to align procurement
                  strategies with overall business objectives.
                </li>
                <li>
                  Conduct regular supplier performance reviews and implement
                  corrective actions as necessary.
                </li>
              </ul>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">May 2021 - April 2022</span>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">Sales Engineer - Intern</h3>
              <div class="subheading mb-3">
                Waterkonsult Equipment and Services, Inc.
              </div>
              <ul>
                <li>
                  Collaborated with the sales team to identify and research
                  potential clients and market segments.
                </li>
                <li>
                  Assisted in the creation of sales proposals, product
                  demonstrations, and technical presentations.
                </li>
                <li>
                  Conducted market research to analyze industry trends,
                  competitor products, and business expansion opportunities.
                </li>
                <li>
                  Provided technical support to clients, addressing inquiries on
                  product specifications and features.
                </li>
                <li>
                  Contributed to the development and maintenance of sales
                  documentation, ensuring accurate and up-to-date information.
                </li>
              </ul>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">October 2020 - December 2020</span>
            </div>
          </div>
        </div>
      </section>
      <hr class="m-0" />
      <!-- Education-->
      <section class="resume-section" id="education">
        <div class="resume-section-content">
          <h2 class="mb-5">Education</h2>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                Technological Institute of the Philippines - Q.C. Campus
              </h3>
              <div class="subheading">Bachelor of Science</div>
              <div class="mb-3">Industrial Engineering</div>
              <p>938 Aurora Blvd., Cubao, Quezon City, 1109, Metro Manila</p>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">June 2014 - January 2021</span>
            </div>
          </div>
          </div>
        </div>
      </section>
      <hr class="m-0" />
      <!-- Skills-->
      <section class="resume-section" id="skills">
        <div class="resume-section-content">
          <h2 class="mb-5">Skills</h2>
          <div class="subheading">Programming Languages & Frameworks</div>
          <ul class="fa-ul">
            <li>
              <span class="fa-2x"><i class="fa-brands fa-java" style="color: darkred;"></i></span>
              JAVA
            </li>
            <li>
              <span class="fa-2x"><i class="fa-brands fa-python" style="color: blue;"></i></span>
              Python
            </li>
            <li>
              <span class="fa-2x"><i class="fab fa-js-square" style="color: gold;"></i></span>
              JavaScript
            </li>
            <li>
              <span class="fa-2x"><i class="fab fa-html5" style="color: orangered;"></i></span>
              HTML
            </li>
            <li>
              <span class="fa-2x"><i class="fab fa-css3-alt" style="color: blue;"></i></span>
              CSS
            </li>
            <li>
              <span class="fa-2x"><i class="fa-solid fa-database" style="color: gray;"></i></span>
              SQL and Oracle PL/SQL
            </li>
            <li>
              <span class="fa-2x"><i class="fa-solid fa-leaf" style="color: green"></i></span>
              Spring Framework and Spring Boot
            </li>
            <li>
              <span class="fa-2x"><i class="fa-brands fa-bootstrap" style="color: blue;"></i></span>
              Bootstrap
            </li>
            <li>
              <span class="fa-2x"><i class="fa-regular fa-circle" style="color: red;"></i></span>
              Oracle Utilities Applications Framework
            </li>
          </ul>
          <div class="subheading">Other Tools</div>
          <ul>
            <li>Oracle Database</li>
            <li>MySQL</li>
            <li>Microsoft Azure DevOps</li>
            <li>IntelliJ IDEA</li>
            <li>VS Code</li>
            <li>Git</li>
            <li>Oracle Utilities Customer Care and Billing</li>
          </ul>
        </div>
      </section>
      <hr class="m-0" />
      <!-- Interests-->
      <section class="resume-section" id="interests">
        <div class="resume-section-content mb-2">
          <h2 class="mb-5">Interests</h2>
          <p>
            In the tech world, I love creating software – it's like building virtual magic. But when I'm not lost in coding,
            I'm all about fun and games. Gaming is my go-to for a chill time, where I can go on cool adventures or have virtual showdowns to relax.
          </p>
          <p class="mb-0">
            When I'm not gaming, I'm hooked on Movies and TV Series. Whether it's figuring out a tricky plot or binge-watching a whole season,
            I'm all in for some good storytelling. I'm also into fantasy books – they take me to magical places with dragons and heroes,
            a perfect escape from everyday life. And when I'm feeling hands-on, I enjoy putting together computers.
            It's like creating my own tech masterpiece with all the cool parts. In this mix of code, entertainment, and tech stuff,
            I find the perfect balance for my interests.
          </p>
        </div>
        <ul class="fa-ul">
          <li>
            <span class="fa-2x"><i class="fa-solid fa-gamepad"></i></span>
          </li>
          <li>
            <span class="fa-2x"><i class="fa-solid fa-computer"></i></span>
          </li>
          <li>
            <span class="fa-2x"><i class="fa-solid fa-book"></i></span>
          </li>
          <li>
            <span class="fa-2x"><i class="fa-solid fa-tv"></i></span>
          </li>
          <li>
            <span class="fa-2x"><i class="fa-solid fa-dragon"></i></span>
          </li>
        </ul>
      </section>
      <hr class="m-0" />
      <!-- Contact Me -->
      <section class="resume-section" id="awards">
        <div class="resume-section-content">
          <h2 class="mb-2">GET IN TOUCH</h2>
          <h3 class="mb-5">LET'S WORK TOGETHER!</h3>
          <form id="contactForm" data-sb-form-api-token="API_TOKEN" th:action="@{/submitForm}" method="post">
            <!-- Name input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                <label for="name">Full name</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                <label for="email">Email address</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            </div>
            <!-- Phone number input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="phone" name="phone" type="tel" placeholder="(+63) 987 6543 210" data-sb-validations="required" />
                <label for="phone">Phone number</label>
                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
            </div>
            <!-- Message input-->
            <div class="form-floating mb-3">
                <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                <label for="message">Message</label>
                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
          </form>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>